@import url(/src/styles.scss);

.bg_white{
    background-color: #ffffff;
}
.font_size{
    font-size: 9px;
}
.setting_log_footer{
    font-family: "Bona Nova";
    color: black;
    font-size: 30px;
}
h4{
    margin: 0%;
}